/* Add these to your existing CSS file */
@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ADD THESE CLASSES */
.font-meie-script {
  font-family: 'Meie Script', cursive;
}

.font-times-new-roman {
  font-family: 'Times New Roman', serif;
}

.font-luxurious-script {
  font-family: 'Luxurious Script', cursive;
}

body {
  margin: 0;
   -ms-overflow-style: none;     /* IE / Edge */
}


@font-face {
  font-family: "Times Now";
  src: url("/src/assets/fonts/times-now/TimesNow-SemiLightItalic.woff") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Times Now";
  src: url("/src/assets/fonts/times-now/TimesNow-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk Variable";
  src: url("/src/assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
}

.mob-text {
  hyphens: auto;
}
